<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="vapp01LogFolder" value="C:\Users\gawaineo\Desktop\Hackathon\vapp01\W3SVC1078817113"/>
    <add key="vapp02LogFolder" value="C:\Users\gawaineo\Desktop\Hackathon\vapp02\W3SVC1078817113"/>
  </appSettings>

  <connectionStrings>
    <add name="mwPSR" connectionString="Data Source=mw-test;Integrated Security=SSPI;Initial Catalog=mwPSR" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>